.hero
  &-wrapper
    padding: 50px 0 101px
    display: flex
  &-left
    flex-basis: 50%
    display: flex
    flex-direction: column
    &__text
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
    &__title
      margin: 0
      margin-bottom: 15px
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      &-asia
        margin-top: 5px
        margin-bottom: -5px
        display: block
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 36px
        line-height: 60px
    &__subtitle
      max-width: 520px
      display: block
      margin-bottom: 67px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
    &__button
      width: 43%
      padding: 16px 24px
      margin-bottom: 52px
      background: #183B56
      color: #ffffff
      border: none
      border-radius: 8px
      font-weight: bold
      font-size: 18px
      line-height: 25px
      text-align: center
      &-bottom
        width: 56px
        height: 56px
        border: 2px solid #5A7184
        border-radius: 50%
  &-right
    position: relative
    &__img
      &-patern
        position: absolute
        top: 162px
        left: -40px
        z-index: 3
      &-iphone
        position: absolute
        top: 150px
        z-index: 2
      &-macbook
        top: 0
        left: 30px
        position: absolute
